{% extends "layout.html" %}
{% block content %}
<form method="get" action="{% url 'search_filter' %}">
    <div class="flex flex-row my-auto gap-3 justify-between my-auto">
        <div class="my-auto">
            <labbel class="label gap-2">
                <span class="label-text">Search</span>
            </label>
            <input type="text" class="input input-bordered input-primary w-full max-w-xs"  value="{{ request.GET.search }}" id="search" name="search"/>
        </div>

        <label class="label gap-2">
            <span class="label-text">Data inicial</span>
            <input type="date" class="input input-primary input-bordered" placeholder="Date"  id="min_date" name="min_date" value="{{ request.GET.min_date }}">
        </label>
        <label class="label gap-2">
            <span class="label-text">Data Final</span>
            <input type="date" class="input input-primary input-bordered" placeholder="Date"  id="max_date" name="max_date" value="{{ request.GET.max_date }}">
        </label>

    </div>

    <div class="flex flex-row my-auto gap-3 justify-between my-auto">

        <label class="label gap-2">
            <span class="label-text">Animal Type</span>

            <select class="select select-primary " id="category" name ="category">
                <option disabled selected value=0>Animal Type</option>
                {% for category in categories %}
                    {%  if request.GET.category != category %}
                        <option value="{{ category.id }}">{{ category }}</option>
                    {% else %}
                        <option value="{{ category.id }}" selected>{{ category }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </label>

        <label class="label gap-2">
            <span class="label-text">Total Likes</span>
            <div>
                {% if request.GET.likes is None %}
                    <input type="range" min="0" max="4" value="0" class="range range-primary" step="1" id="likes" name="likes"/>
                {% else %}
                    <input type="range" min="0" max="4" value="{{ request.GET.likes }}" class="range range-primary" step="1" id="likes" name="likes"/>
                {% endif %}
                <div class="w-full flex justify-between text-xs px-2">
                    <span>0</span>
                    <span>1</span>
                    <span>2</span>
                    <span>3</span>
                    <span>4+</span>
                </div>
            </div>
        </label>

        <label class="label gap-2">
            <span class="label-text">Total Comments</span>
        <div>
            {% if request.GET.comments is None %}
                <input type="range" min="0" max="4" value="0" class="range range-primary" step="1" id="comments" name="comments"/>
            {% else %}
                <input type="range" min="0" max="4" value="{{ request.GET.comments }}" class="range range-primary" step="1" id="comments" name="comments"/>
            {% endif %}
            <div class="w-full flex justify-between text-xs px-2">
                <span>0</span>
                <span>1</span>
                <span>2</span>
                <span>3</span>
                <span>4+</span>
            </div>
        </div>
        </label>

    </div>
    <label>
        <p class="label-text">Hashtags</p>
    </label>
    <div class="grid grid-cols-4 gap-4">
        {% for hashtag in hashtags %}
        <label class="cursor-pointer">
            <p>
            <span class="text-md">#{{hashtag}}</span>
            {% if hashtag.hashtag in list_hashtags %}
                <input type="checkbox" class="checkbox checkbox-primary" value="{{ request.GET.hashtag }}" id="{{hashtag}}" name="{{hashtag}}" checked/>
            {% else %}
                <input type="checkbox" class="checkbox checkbox-primary" value="{{ hashtag }}" id="{{hashtag}}" name="{{hashtag}}"/>
            {% endif %}
        </p>
        </label>
        {% endfor %}

    </div>
    <div class="lg:p-12 max-w-md max-w-xl lg:my-0 my-12 mx-auto p-6">
        <button class="btn btn-block btn-primary btn-wide">Search</button>
    </div>
</form>

<div class="container lg:flex justify-center lg:space-x-10 lg:space-y-0 space-y-5">
    <div class="space-y-5 flex-shrink-0 lg:w-7/12">
        {% if posts %}
            {% for post in posts %}
                <div class="card w-3/4 bg-base-100 shadow-2xl mx-auto mb-4">
                    <a href="/post/{{ post.id }}">
                        <img src={{ post.image.url }}/>
                        <div class="card-body">
                            <h2 class="card-title text-4xl">{{ post.caption }}</h2>
                            {% for hashtag in post.hashtags.all %}
                                <a class="font" href="/hashtag/{{hashtag}}">#{{hashtag.hashtag}}</a>
                            {% endfor %}

                            <div class="flex items-center justify-between">
                                <small class="font-light"> {{ post.date|timesince }}</small>
                                {#                                <small>likes: <span id="count_{{ post.id }}">{{ post.like_count }}</span></small>#}

                                <div class="card-actions justify-end">
                                    <a class="btn btn-circle btn-outline btn-primary w-24" href="/post/{{ post.id }}">
                                        <i class="fa-solid fa-comment fa-lg"></i>
                                        <span class="pl-2">{{ post.comment_count }}</span>
                                    </a>
                                    <button class="btn btn-outline btn-error btn-like w-24" value="{{ post.id }}"
                                            id="btn_{{ post.id }}">
                                        {% if profile in post.likes.all %}
                                            <i class="fa-solid fa-heart fa-lg"></i>
                                        {% else %}
                                            <i class="fa-regular fa-heart fa-lg"></i>
                                        {% endif %}
                                        <span id="count_{{ post.id }}" class="pl-2">{{ post.like_count }}</span>
                                    </button>
                                    </label>

                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% else %}
                <p>No Results found</p>
                <iframe src='//randomgoat.com/embed.php' width='500px' height='500px' class=" mx-auto"></iframe>
        {% endif %}



    </div>
</div>
<script>
    $(document).on('click', '.btn-like', function (e) {
        e.preventDefault();
        var post_id = $(this).val();

        $.ajax({
            url: '{% url "like_post" %}',
            type: 'POST',
            data: {
                'user_id': {{ profile.id }},
                'post_id': post_id,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'action': 'post'
            },
            success: function (json) {
                if (json['type'] == 'like') {
                    var button = document.getElementById('btn_' + post_id);
                    button.innerHTML = '<i class="fa-solid fa-heart fa-lg"></i><span class="pl-2">' + json['result'] + '</span>';
                } else {
                    var button = document.getElementById('btn_' + post_id);
                    button.innerHTML = '<i class="fa-regular fa-heart fa-lg"></i><span class="pl-2">' + json['result'] + '</span>';
                }
                console.log(json)
            }
        });
    });
</script>

{% endblock %}